.milestones-list-item {
  border-top: 0.0625rem solid $c-grey-200;
  padding: 1rem 0;
}

.text-wrapper {
  flex: 1;
  margin-bottom: 1rem;
}

.disputes-message {
  @include font(p4, $c-system-red-500);
  margin-top: 0.5rem;
}

.milestone-name-block {
  @include flex(false, center);
  word-break: break-word;
}

.text-content {
  @include flex(space-between);

  .money-info {
    display: inline-block;

    white-space: nowrap;
    margin-left: 1rem;
    @include font(p2);
    color: $c-primary-500;
  }

  .name {
    display: inline-block;
    @include font(p2);
    color: $c-grey-700;
    margin-right: 0.59375rem;
  }

  .dispute-context-menu {
    @include position(relative);
  }

  .disputes-context-menu {
    @include position(absolute, 100%, $l: 0);
    z-index: 4;
  }

  .description {
    @include font(p4);
    color: $c-grey-600;
    margin-top: 1rem;
  }
}

.mobile-money-info {
  display: none;
}

.buttons-container {
  @include flex(space-between);
  margin-top: 1rem;
}

.mobile-buttons-container {
  display: none;
}

@media only screen and (max-width: 767px) {
  .milestones-list-item {
    border-top: none;
    padding: 1rem 1rem 0rem 1rem;
  }

  .--md {
    width: 8.5rem;
    box-shadow: none;
  }

  .--outlined {
    color: $c-system-red-500;
    border: none;
  }

  .text-content {
    @include flex(space-between);
    padding-bottom: 1rem;
    border-bottom: 0.0625rem solid $c-grey-200;

    .money-info {
      display: none;
    }

    .dispute-context-menu {
      .open-menu-button {
        @include flex(flex-end);
      }
    }

    .disputes-context-menu {
      @include position(absolute, 100%, $r: 0rem);
      z-index: 4;
    }

    .name {
      display: inline-block;
      @include font(p3);
      color: $c-grey-700;
      margin-right: 0.59375rem;
    }

    .description {
      @include font(p4);
      color: $c-grey-600;
    }
  }

  .mobile-money-info {
    display: block;
    margin-left: 0rem;
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
    @include font(p4);
    color: $c-primary-500;
  }

  .milestone-name-block {
    @include flex(space-between, center);
  }

  .milestones-list-item:last-child {
    .text-content {
      border-bottom: none;
      padding-bottom: 0rem;
    }

    .mobile-buttons-container {
      @include flex;
      margin-top: 1rem;
      margin-bottom: 1.5rem;
    }
  }

  .buttons-container {
    display: none;
  }

  .text-wrapper {
    margin-bottom: 0rem;
  }
}
