.popup {
  @include position(fixed, 0, false, false, 0);
  @include square(100%);
  @include flex(center, center);
  background: $c-overlay;
}

.popup-content {
  @include rect(37rem, false, $br-lg);
  @include flex(false, center, column);
  background: $c-grey-000;
}

.popup-header {
  @include rect(100%, auto);
  @include flex(space-between);
  padding: 1.5rem 1.5rem 1rem 1.5rem;

  &.--justify-flex-end {
    justify-content: flex-end;
  }
}

.message {
  @include font(p3, $c-primary-900);
}

.actions-container {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.first-action {
  margin-right: 1rem;
}

.popup-back-button {
  margin-right: auto;
  margin-bottom: 2.675rem;
}

@media (min-width: 640px) {
  .popup-back-button {
    display: none;
  }
  .popup-content {
    max-height: 80vh;
    overflow-y: auto;
  }
}

@media (max-width: 640px) {
  .popup {
    display: block;
    position: static;
    background: transparent;
    min-height: 33.125rem;
    width: 100%;
  }
  .popup-close-button {
    display: none;
  }
  .popup-content {
    @include flex(center, center);
    background: transparent;
    padding: 1.75rem 1rem 1rem;
    width: 100%;
  }
  .popup-header {
    padding: 0;
  }
  .action-button-half {
    width: calc(50vw - 2.5rem);
  }
}
