.all-contracts {
  padding: 1.5rem;
  background: $c-grey-000;
  border-radius: $br-lg;
  margin-bottom: 1.5rem;
}

.contracts-text {
  @include font(p2);
  margin-bottom: 1rem;
}

@media only screen and (max-width: 576px) {
  .all-contracts {
    border-radius: unset;
    background: unset;
    padding: unset;
  }

  .contracts-text {
    border-radius: $br-lg;
    background: $c-grey-000;
    padding: 1rem;
  }
}
