.content-wrapper {
  padding: 1.5rem 1.5rem 2rem;
}

.label {
  @include flex(false, false, column);
  margin-bottom: 1rem;

  &.tax-residence-label {
    @include font(p1);
    color: $c-primary-900;
    margin-bottom: 1.5rem;

    .tax-residence-info {
      @include font(p4);
      width: 24rem;
      color: $c-grey-600;
      margin-top: 0.5rem;
    }
  }

  &.vat-number-label {
    @include font(p1);
    color: $c-primary-900;
    margin-bottom: 1.5rem;

    .vat-number-info {
      @include font(p4);
      width: 24rem;
      color: $c-grey-600;
      margin-top: 0.5rem;
    }
  }
}

.tax-info-error {
  margin-bottom: 1rem;
}

.country-label {
  margin-bottom: 0.25rem;
}

.country-dropdown {
  margin-bottom: 1rem;
}

.mobile-save-button {
  display: none;
}

@media only screen and (max-width: 991px) {
  .label {
    @include font(p2);
  }
}

@media only screen and (max-width: 767px) {
  .influencer-content-wrapper {
    background: $c-grey-100;

    .content-wrapper {
      padding: 1rem 1rem 1.5rem 1rem;
      background: $c-grey-000;
      border-radius: 0 0 $br-lg $br-lg;

      .label {
        margin-bottom: 1rem;

        &.tax-residence-label {
          margin-bottom: 1rem;

          .tax-residence-info {
            @include font(p5);
            width: 100%;
            margin-top: 0.25rem;
          }
        }

        &.vat-number-label {
          margin-bottom: 1rem;

          .vat-number-info {
            @include font(p5);
            width: 100%;
            margin-top: 0.25rem;
          }
        }
      }

      .country-dropdown {
        width: 100%;

        :deep(.dropdown) {
          &.--lg {
            width: 100%;
          }

          .dropdown-trigger {
            padding: 1rem;
          }
        }
      }

      .country-label {
        margin-bottom: 0.25rem;
      }

      .--md {
        @include font(p3);
        width: 100%;

        .--tall {
          width: 100%;
        }
      }

      .vat-number-label + button {
        display: none;
      }
    }
  }
  .mobile-save-button {
    display: block;
    margin-top: 1rem;

    .--md {
      width: 100%;
    }
  }
}
