.popup {
  @include position(fixed, 0, false, false, 0);
  @include square(100%);
  @include flex(center, center);
  background: $c-overlay;
}

.popup-content {
  @include rect(37rem, false, $br-lg);
  @include flex(false, center, column);
  background: $c-grey-000;
  max-height: 80vh;
  overflow-y: auto;
}

.close-button {
  margin: 1.5rem 1.5rem 1rem 0;
  align-self: flex-end;
}

.popup-title {
  @include font(p3);
  margin-bottom: 2rem;
}

.label {
  @include flex(false, false, column);
}

.button {
  margin: 1.5rem 0;
}

.additional-info {
  @include font(p4, $c-grey-500);
  margin-bottom: 1rem;
}

.no-email-info {
  @include font(p5, $c-grey-700);
  margin-bottom: 0.25rem;
}

.resend-button {
  @include button-reset;
  @include font(p5, $c-system-blue-600);
  margin-bottom: 4.5rem;
}

.popup-back-button {
  margin-right: auto;
  margin-bottom: 2.675rem;
}

@media (min-width: 640px) {
  .popup-back-button {
    display: none;
  }
}

@media (max-width: 640px) {
  .popup {
    display: block;
    position: static;
    background: transparent;
    min-height: 33.125rem;
  }
  .popup-close-button {
    display: none;
  }
  .popup-content {
    @include flex(center, center);
    background: transparent;
    padding: 1.75rem 1rem 1rem;
    width: 100%;
  }
}

@media (max-width: 640px) {
  .popup-input,
  .action-button {
    width: calc(100vw - 4rem);
  }

  .additional-info {
    text-align: center;
  }
}
