.top-bar {
  @include rect(100%, false, $br-lg);
  background: $c-grey-000;
  padding: 1.5rem 1.5rem 2.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profile-info {
  @include flex(false, center);
  flex: 1;
}

.profile-info-wrapper {
  margin: 0 1.5rem 0 1rem;
}

.name {
  @include font(p2);
  @include line-clamp(1);
  margin-bottom: 0.5625rem;
}

.mobile-name {
  display: none;
}

.profile-info-row {
  @include flex();
}

.profile-info-row:not(:last-child) {
  margin-bottom: 0.75rem;
}

.profile-info-content {
  @include flex(false, center);
  @include font(p3);
  margin-left: 0.5rem;
}

.about-me {
  @include rect(28.375rem);
  padding-left: 1.5rem;
  border-left: 1px solid $c-grey-200;
  flex: 1;
}

.about-me-title {
  @include font(p2);
  margin-bottom: 1rem;
}

.about-me-content {
  @include font(p3, $c-grey-600);
  @include line-clamp(6);
}

@media only screen and (max-width: 1399px) {
  .about-me {
    width: 100%;
  }

  .about-me-content {
    display: initial;
  }

  .name {
    display: initial;
  }

  .avatar.--xl {
    width: 7.5rem;
    height: 7.5rem;
  }
}

@media only screen and (max-width: 991px) {
  .avatar.--xl {
    width: 6.5rem;
    height: 6.5rem;

    :deep(.icon) {
      width: 6.5rem;
      height: 6.5rem;
    }
  }
}

@media only screen and (max-width: 767px) {
  .top-bar {
    @include flex(false, false, column);
    background: $c-grey-100;
    padding: 0rem;
  }

  .profile-info {
    @include flex(false, flex-start, column);
    flex: 1;
  }

  .name {
    display: none;
  }

  .mobile-name {
    display: block;
    @include font(p2);
    margin-left: 0.5rem;
  }

  .mobile-avatar {
    @include flex(false, center);
    width: 100%;
    padding: 1rem;
    border-radius: $br-lg;
    background: $c-grey-000;
  }

  .avatar.--xl {
    width: 3rem;
    height: 3rem;

    :deep(.icon) {
      width: 3rem;
      height: 3rem;
    }
  }

  .avatar.--xl::before {
    @include rect(0.5rem, 0.5rem);
    @include position(absolute, false, 0.2rem, 0.3rem, false);
  }

  .profile-info-wrapper {
    margin: 0rem;
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    margin-top: 0.25rem;
    background: $c-grey-000;
    border-radius: $br-lg;
    padding: 1rem;
  }

  .profile-info-row {
    @include flex(false, center);

    .icon {
      width: 1rem;
      height: 1rem;
    }
  }

  .profile-info-row:not(:last-child) {
    margin-bottom: 0rem;
  }

  .profile-info-content {
    @include flex(false, center);
    font-size: 0.75rem;
    margin-left: 0.25rem;
  }

  .about-me {
    background: $c-grey-000;
    border-radius: $br-lg;
    padding: 1rem;
    border-left: none;
    margin-top: 0.25rem;
  }

  .about-me-title {
    @include font(p3);
    margin-bottom: 1rem;
  }

  .about-me-content {
    @include font(p4, $c-grey-600);
  }
}
