.button {
  cursor: pointer;
  border-radius: $br-sm;

  &:disabled {
    cursor: not-allowed;
  }
}

.--loading {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.--filled {
  border: none;
  background: $c-primary-500;
  color: $c-grey-000;

  &:disabled {
    background: $c-grey-300;
  }

  &:not([disabled]) {
    @include hover() {
      background: $c-primary-600;
    }
  }
}

.--outlined {
  border: 0.125rem solid currentColor;
  background: $c-grey-000;
  color: $c-primary-500;

  &:disabled {
    background: $c-grey-100;
    color: $c-grey-300;
  }

  &:not([disabled]) {
    @include hover() {
      color: $c-primary-600;
    }
  }
}

.--xsm {
  @include rect(7.5rem, 1.5rem);
  @include font(p4);
  @include shadow(sm);
}

.--sm {
  @include rect(5.5rem, 2.5rem);
  @include font(p3);
  @include shadow(md);
  min-width: 5.5rem;
}

.--md {
  @include rect(11rem, 2.5rem);
  @include font(p3);
  @include shadow(md);
  min-height: 2.5rem;
}

.--lg {
  @include rect(24rem, 3.375rem);
  @include font(h3);
  @include shadow(md);

  &.--outlined {
    border-width: 0.1875rem;
  }
}

.--icon {
  @include rect(2.5rem, 2.5rem);
  @include shadow(md);

  .button-icon-wrapper {
    display: grid;
  }

  :deep(.icon) {
    place-self: center;
  }
}

.button:disabled {
  .loading {
    opacity: 0.75;
  }
}

.loading {
  @include flex;
  @include square(1.5rem, 50%);
  border: 0.1875rem solid $c-grey-200;
  border-top-color: $c-primary-500;
  animation: spin 1s ease-in-out infinite;
  // position: absolute;
  margin: auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 767px) {
  .attach-icon {
    :deep(path) {
      fill: #6665dd;
    }
  }

  .button-icon-wrapper :deep(svg) {
    width: 1.15rem;
    height: 1.15rem;
  }
}
