.context-menu-item {
  position: relative;
  color: $c-grey-200;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  border-top: 0.0625rem solid $c-primary-300;
  min-width: max-content;
  cursor: pointer;

  &.--disabled {
    color: $c-grey-300;
  }
}
.context-menu-item:first-child {
  margin-top: 0;
  padding-top: 0;
  border-color: transparent;
}
