.header {
  @include flex(space-between);
  padding-bottom: 0.3125rem;
  border-bottom: 1px solid $c-grey-200;
}

.title {
  @include font(p1);
  text-transform: capitalize;
}

.list {
  @include flex;
  flex-flow: column wrap;
  margin: 1rem 0 2rem 0;
}

.mobile-add-account-btn {
  display: none;
}

@media only screen and (max-width: 767px) {
  .header {
    @include flex(space-between);
    padding-bottom: 1rem;
    border-bottom: 1px solid $c-grey-200;
  }

  .list {
    @include flex;
    flex-flow: column wrap;
    margin: 0.5rem 0 1.5rem 0;
  }

  .mobile-add-account-btn {
    display: block;

    .--md {
      width: 100%;
      margin-bottom: 1.5rem;
    }
  }
}
