.contract {
  width: 47rem;
  padding: 1rem 1rem 2.125rem 1.625rem;
  border-radius: $br-lg;
  @include shadow(smm15);
}

.contract:not(:first-child) {
  margin-top: 1rem;
}

.name {
  @include font(p3, $c-primary-500);
  @include line-clamp(1);
}

.desc {
  @include font(p4, $c-grey-700);
  margin-top: 0.5rem;
}

.read-more-button {
  @include font(p4, $c-system-blue-600);
  border: none;
  background: none;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.contract-footer {
  @include flex();
  margin-top: 1rem;
}

.footer-col {
  margin-right: 1rem;

  &.--milestone {
    padding-left: 1.5rem;
    border-left: 1px solid $c-grey-200;
  }
}

.marketer-content {
  margin-left: 0.5rem;
}

.marketer-box {
  @include flex();
  margin-top: 0.5rem;
}

.marketer-name {
  @include font(p3, $c-grey-700);
  @include line-clamp(1);
  margin-bottom: 0.25rem;
}

.company {
  @include font(p5, $c-grey-500);
}

.milestone-box {
  @include flex(false, center);
  margin-top: 0.5rem;
}

.milestone-content {
  @include font(p3, $c-grey-700);
  @include line-clamp(1);
  margin-left: 0.5rem;
}

.marketer-col {
  width: 14.75rem;
  min-width: 14.75rem;
}

.milestone-col {
  width: 29.5625rem;
  padding-right: 1rem;
}

.completion-progress {
  min-width: 1.625rem;
}

.line-clamped {
  @include line-clamp(3);
}

.truncated ~ .read-more-button {
  display: none;
}

@media only screen and (max-width: 576px) {
  .contract {
    width: 16rem;
    padding: 0rem;
    border: none;
    border-radius: 0rem;
    box-shadow: none;
  }

  .contract:not(:first-child) {
    border-top: 1px solid $c-grey-200;
    margin-top: 1rem;
    padding-top: 1rem;
  }

  .read-more-button {
    margin-top: 0.5rem;
  }

  .contract-footer {
    @include flex(false, false, column);
    border-top: 1px solid $c-grey-200;
    margin-top: 1rem;
    padding-top: 1rem;
  }

  .footer-col {
    margin-right: 0rem;

    &.--milestone {
      padding-left: 0rem;
      border-left: none;
    }
  }

  .marketer-col {
    width: 16rem;
    min-width: 16rem;
  }

  .milestone-col {
    width: 16rem;
    padding-right: 0rem;
    border-top: 1px solid $c-grey-200;
    margin-top: 1rem;
    padding-top: 1rem;
  }
}

@media only screen and (min-width: 576px) {
  .contract {
    width: 22rem;
    padding: 0rem;
    border: none;
    border-radius: 0rem;
    box-shadow: none;
  }

  .contract:not(:first-child) {
    border-top: 1px solid $c-grey-200;
    margin-top: 1rem;
    padding-top: 1rem;
  }

  .read-more-button {
    margin-top: 0.5rem;
  }

  .contract-footer {
    @include flex(false, false, column);
    border-top: 1px solid $c-grey-200;
    margin-top: 1rem;
    padding-top: 1rem;
  }

  .footer-col {
    margin-right: 0rem;

    &.--milestone {
      padding-left: 0rem;
      border-left: none;
    }
  }

  .marketer-col {
    width: 16rem;
    min-width: 16rem;
  }

  .milestone-col {
    width: 22rem;
    padding-right: 0rem;
    border-top: 1px solid $c-grey-200;
    margin-top: 1rem;
    padding-top: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .contract {
    width: 31rem;
    padding: 1rem;
    border: none;
    border-radius: $br-lg;
    @include shadow(smm15);
  }

  .contract:not(:first-child) {
    border-top: none;
    margin-top: 1rem;
    padding-top: 1rem;
  }

  .read-more-button {
    margin-top: 1rem;
  }

  .contract-footer {
    @include flex(false, false, row);
    border-top: none;
    margin-top: 1rem;
    padding-top: 0rem;
  }

  .footer-col {
    margin-right: 0rem;

    &.--milestone {
      padding-left: 1.5rem;
      border-left: 1px solid $c-grey-200;
    }
  }

  .marketer-col {
    width: 11.75rem;
    min-width: 11.75rem;
  }

  .milestone-col {
    width: 16.75rem;
    padding-right: 0rem;
    border-top: none;
    margin-top: 0rem;
    padding-top: 0rem;
  }
}

@media only screen and (min-width: 992px) {
  .contract {
    width: 45rem;
    padding: 1rem 1rem 2.125rem 1.625rem;
    border: none;
    border-radius: $br-lg;
    @include shadow(smm15);
  }

  .marketer-col {
    width: 14.75rem;
    min-width: 14.75rem;
  }

  .milestone-col {
    width: 27.5625rem;
    padding-right: 1rem;
    border-top: none;
    margin-top: 0rem;
    padding-top: 0rem;
  }
}

@media only screen and (min-width: 1200px) {
  .contract {
    width: 47rem;
    padding: 1rem 1rem 2.125rem 1.625rem;
    border: none;
    border-radius: $br-lg;
    @include shadow(smm15);
  }

  .milestone-col {
    width: 29.5625rem;
    padding-right: 1rem;
    border-top: none;
    margin-top: 0rem;
    padding-top: 0rem;
  }
}
