.title {
  @include font(h3);
  margin: 2rem 0 0.5rem;
  text-align: center;
  color: $c-primary-900;
}

.message {
  @include font(p3);
  text-align: center;
  color: $c-grey-700;
}

.message-sm {
  display: none;
}

.form {
  @include flex(false, center, column);
  margin: 2rem auto;
  width: min-content;

  .email-container {
    @include flex(center, false, column);
    margin-bottom: 2rem;
  }

  .reset-button {
    width: 100%;
  }
}

.base-info {
  @include font(p2);
  margin-bottom: 2rem;
  text-align: center;

  &.--success {
    margin-bottom: 1rem;
    color: $c-system-green-500;
  }
}

.email-reset-error {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 576px) {
  .title {
    @include font(h5);
    margin: 2rem 0 0.5rem;
    text-align: center;
    color: $c-primary-900;
  }

  .message {
    display: none;
  }

  .message-sm {
    display: block;
    @include font(p4);
    margin-bottom: 0.5rem;
    text-align: center;
    color: $c-grey-700;
  }

  .form {
    .reset-button {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 576px) {
  .form {
    .reset-button {
      @include rect(24rem, 3.375rem);
      @include font(h3);
      @include shadow(md);

      &.--outlined {
        border-width: 0.1875rem;
      }
    }
  }
}
