.title {
  @include font(h3);
  margin: 2rem 0 0.5rem;
  text-align: center;
  color: $c-primary-900;
}

.message {
  @include font(p3);
  text-align: center;
  color: $c-grey-700;
}

.email-reset-error {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.base-info {
  @include font(p2);
  margin-bottom: 2rem;
  text-align: center;

  &.--success {
    margin-bottom: 1rem;
    color: $c-system-green-500;
  }
}

.additional-info {
  @include font(p1);
  color: $c-grey-700;
  text-align: center;
}

.form {
  @include flex(false, center, column);
  margin: 2rem auto;
  width: min-content;

  .password-container {
    @include flex(center, false, column);

    &.--confirm-password-container {
      margin-top: 1rem;
    }
  }

  .password-input-container {
    position: relative;

    .input {
      padding-right: 3.5rem;
    }

    .show-password-button {
      @include flex(center, center, false, inline-flex);
      @include position(absolute, 0, 0);
      height: calc(100% - 0.25rem);
      padding: 0 1rem;
      margin-top: 0.25rem;
      border: none;
      background: transparent;
      cursor: pointer;
    }
  }

  .button {
    margin-top: 2rem;
  }

  .save-password-button {
    width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .title {
    @include font(h5);
    margin: 2rem 0 0.5rem;
    text-align: center;
    color: $c-primary-900;
  }

  .message {
    @include font(p4);
    margin-bottom: 0.5rem;
    text-align: center;
    color: $c-grey-700;
  }
}
