$c-primary-900: #02010a;
$c-primary-800: #10084f;
$c-primary-700: #272678;
$c-primary-600: #4a49be;
$c-primary-500: #6665dd;
$c-primary-400: #8b8bea;
$c-primary-300: #a5a5f4;
$c-primary-200: #c5c4fb;
$c-primary-100: #e2e1fd;

$c-grey-1000: #000000;
$c-grey-900: #171617;
$c-grey-800: #212022;
$c-grey-700: #3d3c3e;
$c-grey-600: #59575b;
$c-grey-500: #7f7d82;
$c-grey-400: #a5a4a8;
$c-grey-300: #cccbcd;
$c-grey-200: #ededee;
$c-grey-100: #f5f5f5;
$c-grey-000: #ffffff;

$c-system-green-900: #285704;
$c-system-green-800: #366a07;
$c-system-green-700: #49830b;
$c-system-green-600: #5f9d10;
$c-system-green-500: #77b717;
$c-system-green-400: #a1d348;
$c-system-green-300: #c2e96e;
$c-system-green-200: #dff7a1;
$c-system-green-100: #f0fbcf;

$c-system-blue-900: #0c4277;
$c-system-blue-800: #145b90;
$c-system-blue-700: #2080b3;
$c-system-blue-600: #2ea8d6;
$c-system-blue-500: #40d4f9;
$c-system-blue-400: #6fe9fb;
$c-system-blue-300: #8cf7fd;
$c-system-blue-200: #b2fefc;
$c-system-blue-100: #d8fefb;

$c-system-yellow-900: #7a4f00;
$c-system-yellow-800: #936301;
$c-system-yellow-700: #b78002;
$c-system-yellow-600: #db9f03;
$c-system-yellow-500: #ffc005;
$c-system-yellow-400: #ffd443;
$c-system-yellow-300: #ffe169;
$c-system-yellow-200: #ffed9b;
$c-system-yellow-100: #fff7cd;

$c-system-red-900: #7a0a1e;
$c-system-red-800: #93101e;
$c-system-red-700: #b71a1e;
$c-system-red-600: #db3026;
$c-system-red-500: #ff5035;
$c-system-red-400: #ff8767;
$c-system-red-300: #ffa985;
$c-system-red-200: #ffccae;
$c-system-red-100: #ffe8d6;

$c-overlay: rgba(0, 0, 0, 0.2);

$br-sm: 0.3125rem;
$br-md: 0.4375rem;
$br-lg: 0.625rem;
