.settings-ticket-list-item {
  @include flex;
  width: 100%;
  margin-top: 0.5rem;
  align-items: center;
}

.ticket-content {
  @include flex(space-between);
  @include shadow(md15);
  padding: 1rem;
  border-radius: $br-lg;
  width: 27.5rem;
}

.ticket-text {
  @include font(p3, $c-grey-700);
  margin-bottom: 0.25rem;
  width: 19rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ticket-time {
  @include font(p5, $c-grey-600);
}

.post-content {
  margin-left: 0.375rem;
  @include position(relative);
}

.dispute-context-menu {
  @include position(absolute, 100%, false, false, 0);
}

@media only screen and (max-width: 991px) {
  .ticket-content {
    width: 22.5rem;
  }

  .ticket-text {
    width: 15rem;
  }
}

@media only screen and (max-width: 767px) {
  .settings-ticket-list-item {
    display: block;
    @include position(relative);
    margin-top: 0rem;
  }

  .ticket-content {
    @include flex(space-between, false, column);
    width: 100%;
    box-shadow: initial;
    border-radius: initial;
    padding: 1.1875rem 0rem 1rem 0rem;
    border-top: 0.0625rem solid $c-grey-200;
  }

  .post-content {
    margin-left: 0rem;
    @include position(absolute, 1rem, 0.5rem, false, false);
  }

  .ticket-data {
    margin-bottom: 1rem;
  }

  .actions {
    .--sm {
      width: 8.5rem;
      @include font(p3);
    }
  }

  .dispute-context-menu {
    @include position(absolute, 100%, 0, false, initial);
  }
}
